@{
}

@model Book

    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-light p-1">
            @* My extra bootstrap stuff are in the h5 and h6 tags in this div *@
            <h5 class="card-title">@Model.Title</h5>
            <span class="badge badge-pill badge-primary bg-dark" style="float:right">
                <small>Price: @Model.Price.ToString("c")</small>
            </span>
            <h6 class="card-subtitle mb-2 text-muted">Author: @Model.Author</h6>
        </div>

        <div class="card-text">Publisher: @Model.Publisher</div>
        <div class="card-text">Category: @Model.Category</div>
        <div class="card-text">Classification: @Model.Classification</div>
        <div class="card-text">Number of Pages: @Model.PageCount</div>
        <div class="card-text">ISBN: @Model.Isbn</div>

        <form method="post" asp-page="/Cart">
            <input type="hidden" asp-for="@Model.BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
            </span>
        </form>
    </div>

